:root {
    --shadow: rgba(0, 0, 0, 0.3);
    --colorOne: #157145;
    --colorTwo: #57A773;
    --colorThree: #6A8EAE;
    --colorFour: #9BD1E5;
    --colorFive: #d1faff;
    --colorSix: black;
    --colorSeven: white;
    --colorEight: red;
    --colorNine: rgb(255, 200, 148);
    --colorTen: grey;

    --manrope: 'Manrope', sans-serif;
    --spartan: 'Spartan', sans-serif;
    --abel: 'Abel', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --openSans: 'Open Sans', sans-serif;
    --light: 200;
    --standard: 400;
    --heavy: 600;
}


body {
    font-family: var(--manrope);
    font-weight: 400;
    outline: none;
    background-color: var(--colorNine);
}

.container {
    margin: 2%;
}


/* #region  Fonts */

/* fonts available
font-family: 'Manrope', sans-serif;
font-family: 'Spartan', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

.primaryFont {
    font-family: var(--manrope);
}

.secondaryFont {
    font-family: var(--openSans)
}

.optFont1 {
    font-family: var(--spartan);
}

.optFont2 {
    font-family: var(--abel);
}

.optFont3 {
    font-family: var(--roboto)
}

.lightFont {
    font-weight: var(--light);
}

.standardFont {
    font-weight: var(--standard);
}

.heavyFont {
    font-weight: var(--heavy);
}

/* #endregion */


/* #region  Buttons */
.btn {
    background-color: var(--colorOne);
    color: var(--colorSeven);
    border-radius: 12px;
    border: none;
    box-shadow: 2px 3px 4px var(--shadow);
    height: 32px;
    display: inline-block;
    text-align: center;
    outline: none;
    font-family: var(--openSans);
    font-weight: var(--standard);
    padding-left: 1%;
    padding-right: 1%;
}


.btn-blue {
    background-color: var(--colorThree);
    color: var(--colorSeven);
}

.btn-baby {
    background-color: var(--colorFive);
    color: var(--colorSix);
}

.btn-ltgrn {
    background-color: var(--colorTwo);
    color: var(--colorSix);
}

.btn-inv-default {
    background-color: var(--colorSeven);
    color: var(--colorOne);
}

.btn-inv-blue {
    background-color: var(--colorSeven);
    color: var(--colorThree);
}

.btn-inv-baby {
    background-color: var(--colorTen);
    color: var(--colorFive);
}

.btn-inv-ltgrn {
    background-color: var(--colorSix);
    color: var(--colorTwo);
}

.btn-secondary {
    background-color: var(--colorSeven);
    color: var(--colorOne);
    border-bottom: 3px solid var(--colorOne);
    height: 32px;
    box-shadow: 2px 3px 4px var(--shadow);
    display: inline-block;
    text-align: center;
    outline: none;
    font-family: var(--openSans);
    font-weight: var(--standard);
    padding-left: 1%;
    padding-right: 1%;
}

.btn-secondary-blue {
    background-color: var(--colorSeven);
    color: var(--colorThree);
    border-bottom: 3px solid var(--colorThree);
}

.btn-secondary-red {
    background-color: var(--colorSeven);
    color: var(--colorSix);
    border-bottom: 3px solid var(--colorEight);
}

button:hover {
    box-shadow: 1px 2px 2px var(--shadow);
}

button:active {
    box-shadow: none;
}

.noShadow {
    box-shadow: none;
}

#buttonCollection2 button {
    padding-right: 5%;
    margin-left: 5%;
}

#buttonCollection3 button {
    padding-left: 5%;
    margin-right: 5%;
}

#buttonCollection4 button {
    padding: 3%;
    margin-right: 5%;
}
/* #endregion */


.topnav {
    background-color: var(--colorTen);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--colorSeven);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--colorFour);
    color: var(--colorSix);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--colorOne);
    color: var(--colorSeven);
  }